<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adjust Main Storage</title>
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#entity_type').change(function() {
                var entityType = $(this).val();
                var entityIdSelect = $('#entity_id');
                entityIdSelect.empty(); // Clear the current options

                // AJAX call to get entities based on selected type
                $.getJSON('/get_entities', {type: entityType}, function(data) {
                    // Assuming data is a list of tuples [(id1, name1), (id2, name2), ...]
                    $.each(data, function(index, item) {
                        entityIdSelect.append(new Option(item[1], item[0]));
                    });
                });
            });
        });
    </script>
</head>
<body>
    <h1>Adjust Main Storage</h1>
    <form method="post" action="{{ url_for('adjust_main_storage') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.entity_type.label }} {{ form.entity_type(id='entity_type') }}
        </div>
        <div>
            {{ form.entity_id.label }} {{ form.entity_id(id='entity_id') }}
        </div>
        <!-- Rest of your form elements -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>


