<!-- partners.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Partners</title>
</head>
<body>
    <h1>Partners</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name }}<br>
        {{ form.quantity.label }} {{ form.quantity }}<br>
        {{ form.submit() }}
    </form>
    <ul>
        {% for partner in partners %}
        <li>{{ partner.name }} - Quantity: {{ partner.quantity }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>





